body {
  background: silver;
}

.list-group-item {
  background-color: rgba(44, 46, 51, 0.2);
}

.list-group-item:hover {
  background-color: rgb(219, 218, 218);
}

.list-group-item a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: rgb(34, 35, 39);
}

.list-group-item a::after {
  text-decoration: none;
  color: black;
}

/*.home-div a {
  color: red;
}*/

#welcome a {
  text-decoration: none;
  color: inherit;
}

#welcome a:hover {
  text-decoration: underline;
  color: inherit;
}



/*
    LANE styles
*/
.lane {
  display: inline-block;

  margin: 1em;

  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 0.5em;

  min-width: 20em;
  vertical-align: top;
}

.lane-header {
  overflow: auto;

  padding: 1em;

  color: #efefef;
  background-color: #333;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.lane-name {
  float: left;
}

/*
    CARD styles
*/
.card-div {
  color: blue;
  border: 1px solid black;
}
