body {
  background: silver;
}

.list-group-item {
  background-color: rgba(44, 46, 51, 0.2);
}

.list-group-item:hover {
  background-color: rgb(219, 218, 218);
}

.list-group-item a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: rgb(34, 35, 39);
}

.list-group-item a::after {
  text-decoration: none;
  color: black;
}

/*.home-div a {
  color: red;
}*/

#welcome a {
  text-decoration: none;
  color: inherit;
}

#welcome a:hover {
  text-decoration: underline;
  color: inherit;
}
